* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************  
COlORS
**************/
.violet {
  color: hsl(257, 40%, 49%);
}

.magenta {
  color: hsl(300, 69%, 71%);
}


body {
  color: #fff;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color:hsl(257, 40%, 49%);
}

.container {
  padding: 30px 50px;
}

/**************  
Header
**************/
.header img {
  width: 150px;
}

/**************  
Section
**************/
/* Left Container */
.left-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-container img{
  width: 270px;
  margin: 50px 0;
}

/* Right Container */
.right-container {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.right-container h1 {
  font-size: 1.7em;
}

.right-container p {
  margin: 30px 0;
}

.details button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color:hsl(257, 40%, 49%);
  cursor: pointer;
  border: none;
  padding: 12px 100px;
  border-radius: 40px;
  box-shadow:5px 8px 15px rgba(0, 0, 0, 0.37);
}

.details button:hover {
  background:hsl(300, 69%, 71%);
  color: #fff;
}

/**************  
Footer
**************/
footer {
  margin-top: 30px;
}

.icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icon i {
  padding: 8px 12px;
  margin: 0 10px;
  border: solid #fff 1px;
  border-radius: 50%;
}

.icon .fa-twitter,
.icon .fa-instagram {
  padding: 8px 9px;
}

.icon i:hover {
  border-color:hsl(300, 69%, 71%);
  color:hsl(300, 69%, 71%);
}

/**************
Media Query:  
Tablets
**************/
@media (min-width: 768px) {
  body {
    width: 100%;
  
  }

  .left-container img {
    width: 500px;
  }

  .details {
    margin: 50px 0;
  }

  .details button {
    margin-top: 20px;
  }

  footer {
    margin-top: 80px;
  }


/**************
Media Query:  
Desktop 
**************/
@media (min-width: 1440px) {

  /**************  
  Header
  **************/
  .header img {
    width: 200px;
    margin-top: 10px;
  }

  /**************  
  SECTION
  **************/
  .container {
    max-width: 1440px;
    margin: auto;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-container img {
    width: 720px;
    height: 500px;
  }


  /**************  
  DETAILS SECTION
  **************/
  .details {
    width: 600px;
    padding: 100px 60px
  }

  .details h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .details p {
    width: 500px;
    margin-bottom: 40px;
  }

  .details button {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:hsl(257, 40%, 49%);
    cursor: pointer;
    border: none;
    padding: 16px 80px;
    border-radius: 40px;
    box-shadow:5px 8px 15px rgba(0, 0, 0, 0.37);
  }

  .details button:hover {
    background:hsl(300, 69%, 71%);
    color: #fff;
  }

  
/**************  
Footer
**************/
.icon {
  display: flex;
  justify-content: flex-end;
}


}





